.form__group {
    display: flex;
    gap: 16px;
}

.form__group-input-wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
}

.form__group-radio {
    display: flex;
    align-items: center;
    gap: 8px;
}

.form__group-input {
    height: 24px;
    border: 1px solid var(--border-color);
    outline: 0;
    border-radius: 4px;
    font-size: 14px;
}
